<%= form_for(@pdf) do |f| %>
  <% if @pdf.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pdf.errors.count, "error") %> prohibited this pdf from being saved:</h2>

      <ul>
      <% @pdf.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_area :url %>
  </div>
  <div class="field">
    <%= f.label :temp_url %><br>
    <%= f.text_area :temp_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
